dist: trusty
sudo: false

language: node_js
node_js:
  - '10.16.0'

addons:
  chrome: stable

cache:
  directories:
    - ./node_modules

install:
  - npm install

script:
  - ng test --watch false --browsers ChromeHeadless
  - ng build --prod
