.input-label {
  line-height: 24px;
  display: inline;
  flex: 1;
}

.input-box {
  border-radius: 4px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,.12);
}

.mat-flat-button {
  color: rgba(0,0,0,.87);
  background: #fff;
  min-width: 40px;
}

h5 {
  width: 50px;
  text-align: center;
  margin-bottom: 0;
  align-self: center;
  display: inline;
  font-weight: 400;
  font-size: 16px;
}
