@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  background: #f8f9fa;
  -webkit-tap-highlight-color: transparent;
}

.mat-toolbar {
  background: #fff;
  border-bottom: 1px solid #ccc;
}
